<div class="game">
	<div class="row player-datails">
		<div class="col-xs-6 text-left">
			<h4>Hi {{vm.username}}!!!</h4>
		</div>
		<div class="col-xs-6 text-right">
			<h4>Score: {{vm.globalScore}}</h4>
		</div>
	</div>
	<div class="container box-word-container">
		<timer timer="{{::vm.timer}}" on-change="vm.updateTimer(timer)"></timer>
		<div class="box-word">
			<div class="mangled-word">
				{{vm.mangleWord}}
			</div>
			<input type="text" class="input-word" ng-model="vm.input" ng-keyup="vm.validate($event)">
		</div>
	</div>

</div>
